/* animation styles */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* animation to each timeline item */
.timeline-item {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: calc(var(--item-index) * 200ms);
}

/* timeline styles */
.timeline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2in;
}

.timeline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.timeline-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 0;
}

.timeline-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 1px solid black;
}

.timeline-content {
  text-align: center;
  margin: 10px;
}

.timeline-date {
  margin: 10px;
}

.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}

.timeline-box p {
  max-height: 0;
  width: 500px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.timeline-box:hover p {
  max-height: 200px;
}
