@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Noto+Serif&display=swap');

/* animation styles */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* animation to each timeline item */
.timeline-item {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: calc(var(--item-index) * 200ms);
}

/* timeline styles */
.timeline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 2in;
}

.timeline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.timeline-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px;

}

.timeline-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 5px solid #723D46;
  border-radius: 20px;
  box-shadow: 5px 8px rgba(0, 0, 0, 0.493)
}

.timeline-content {
  text-align: center;
  margin: 10px
}

.tl-title {
  font-family: 'Noto Serif', serif;
  font-size: 18px;

}

.timeline-date {
  margin: 10px;
  font-family: 'Noto Serif', serif;
  font-size: 14px;
}

.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}


.timeline-box p {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

.clickme img {
  height: 80px;
}


.dub-container {
  display: flex;
  justify-content: center;
}

.bg-200 {
  background: #C9CBA3;
}

.download-button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #723D46;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
  font-family: 'Noto Serif', serif;
  font-size: 14px;
  margin-bottom: 30px;
}
.download-button:hover {
  filter: brightness(160%);
}

.download-button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65)
}

@media only screen and (max-device-width: 600px) {
  .grid-cols-1 {
    grid-template-columns: 1fr;
  }

  .timeline-wrapper {
    order: 2;
  }

  .bg-gray-200 {
    order: 1;
  }
}
