<!-- <div class="timeline-container">
    <div class="timeline-wrapper">
      <div *ngFor="let event of timeline; let i = index" class="timeline-item">
        <div class="timeline-content">
          <h3>{{ event.title }}</h3>
          <p>{{ event.description }}</p>
        </div>
        <div class="timeline-date">
          {{ event.date }}
        </div>
      </div>
    </div>
  </div> -->

  <div class="timeline-container">
    <div class="timeline-wrapper">
      <div *ngFor="let event of timeline; let i = index" class="timeline-item">
        <div class="timeline-box">
          <div class="timeline-content">
            <h3>{{ event.title }}</h3>
            <p>{{ event.description }}</p>
          </div>
          <div class="timeline-date">
            {{ event.date }}
          </div>
        </div>
        <div class="timeline-line"></div>
      </div>
    </div>
  </div>
