<div>
<div class="max-w-6xl mx-auto px-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="timeline-wrapper">
      <div *ngFor="let event of timeline; let i = index" class="timeline-item relative">
        <div class="timeline-box">
          <div class="timeline-content">
            <h3>{{ event.title }}</h3>
            <p>{{ event.description }}</p>
          </div>
          <div class="timeline-date">
            {{ event.date }}
          </div>
        </div>
        <div class="timeline-line"></div>
      </div>
    </div>
  <div class="bg-200 rounded-md p-6">
    <div class="grid grid-cols-3 grid-rows-4 gap-4">
      <div class="flex flex-col items-center justify-center">
        <img src="assets/img/python.png" alt="Logo 1" class="h-12 w-12 object-contain">
        <span class="mt-2 font-medium text-lg">Python</span>
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="assets/img/javascript.png" alt="Logo 2" class="h-12 w-12 object-contain">
        <span class="mt-2 font-medium text-lg"> JavaScript</span>
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="assets/img/typescript.png" alt="Logo 3" class="h-12 w-12 object-contain">
        <span class="mt-2 font-medium text-lg">TypeScript</span>
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="assets/img/django.png" alt="Logo 4" class="h-12 w-12 object-contain">
        <span class="mt-2 font-medium text-lg">Django</span>
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="assets/img/fastapi.png" alt="Logo 5" class="h-12 w-12 object-contain">
        <span class="mt-2 font-medium text-lg">FastAPI</span>
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="assets/img/postgres.png" alt="Logo 9" class="h-12 w-12 object-contain">
        <span class="mt-2 font-medium text-lg">Postgres</span>
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="assets/img/react.png" alt="Logo 6" class="h-12 w-12 object-contain">
        <span class="mt-2 font-medium text-lg">React</span>
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="assets/img/angular.png" alt="Logo 7" class="h-12 w-12 object-contain">
        <span class="mt-2 font-medium text-lg">Angular</span>
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="assets/img/html.png" alt="Logo 8" class="h-12 w-12 object-contain">
        <span class="mt-2 font-medium text-lg">HTML</span>
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="assets/img/css.png" alt="Logo 9" class="h-12 w-12 object-contain">
        <span class="mt-2 font-medium text-lg">CSS</span>
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="assets/img/docker.png" alt="Logo 9" class="h-12 w-12 object-contain">
        <span class="mt-2 font-medium text-lg">Docker</span>
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="assets/img/wordpress.png" alt="Logo 9" class="h-12 w-12 object-contain">
        <span class="mt-2 font-medium text-lg">Wordpress</span>
      </div>

      <div class="dub-container">
      <div class="button-container">
        <button href="path/to/cv.pdf" download class="download-button">Download CV</button>
      </div>
    </div>
  </div>
