/* Name font */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* --------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    align-items: center;
}

section .wrapper {
    margin-top: -1px;
}

.wrapper {
    margin: 150px auto;
    width: 70%;
}

.text-box h4 {
    font-size: 20px;

}

.text-box p {
    font-size: 12px;
}


img {
    max-width: 320px;
    float: left;
    border-radius: 20%;
    margin-right: 15px;
}

.animate-pulse, h4 {
    font-size: 60px;
    font-family: 'Righteous', cursive;
    color: rgb(91, 174, 251);
    margin-top: 10px;
}


@media screen and (max-width: 600px) {

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    align-items: center;

}

img {
    max-width: 320px;
    border-radius: 20%;
    margin-top: 10px;
    margin-right: 10px;

}

.animate-pulse, h4 {
    font-size: 40px;
    font-family: 'Righteous', cursive;
    color: rgb(91, 174, 251);
}
}


@media only screen
    and (device-width: 390px)
    and (device-height: 844px)
    and (-webkit-device-pixel-ratio: 3) {
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        section {
            align-items: center;

        }

        img {
            max-width: 320px;
            border-radius: 20%;
            margin-top: 10px;
            margin-right: 10px;

        }

        .animate-pulse, h4 {
            font-size: 40px;
            font-family: 'Righteous', cursive;
            color: rgb(91, 174, 251);
        }
    }
