

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    align-items: center;
}

section .wrapper {
    margin-top: -1px;
}

.layered-title {
    font-size: 55px;
    text-align: center;
    height:60px;
    line-height: 40px;
    color: rgb(91, 174, 251);

     margin-top: 20px;
     margin-bottom: 0px;
     text-shadow: 2px 1px 2px rgba(0, 0, 0);
    font-weight: 800;
    text-shadow: 5px 5px 0px #ffffff,
                10px 10px 0px #2c7ae7,
                15px 15px 0px #64cef8;

}

.wrapper {
    margin: 150px auto;
    width: 70%;
}

.text-box h4 {
    font-size: 20px;

}

.text-box p {
    font-size: 12px;
}


img {
    max-width: 320px;
    float: left;
    border-radius: 20%;
    margin-right: 15px;
}


@media screen and (max-width: 600px) {
    .layered-title {
        font-size: 50px;
        text-align: center;
        height:60px;
        line-height: 40px;
        color: rgb(91, 174, 251);

         margin-top: 20px;
         margin-bottom: 0px;
         text-shadow: 2px 1px 2px rgba(0, 0, 0);
        font-weight: 800;
        text-shadow: 5px 5px 0px #ffffff,
                    10px 10px 0px #2c7ae7,
                    15px 15px 0px #64cef8;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    align-items: center;

}

img {
    max-width: 320px;
    border-radius: 20%;
    margin-top: 10px;

}
}
