/* Name font */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* --------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  align-items: center;
  align-items: center;
  min-height: 100vh;
}

img {
  max-width: 320px;
  float: left;
  margin-right: 15px;
}

.wrapper {
  margin: 150px auto;
  width: 70%;
}

.text-box {
  color: black;
}

.text-box h2 {
  font-size: 42px;
}

.text-box p {
  font-size: 16px;
}

  /* -------------------------- */

.animate-pulse, h4 {
    font-size: 60px;
    font-family: 'Righteous', cursive;
    color: rgb(91, 174, 251);
    margin-top: 10px;
}
