body {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

.carousel {
    margin-left: 200px;
}

.row {
    height: 415px;
}


.buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.carousel-buttons {
    height: 40px;
    margin-top: 20px;
    margin-right: 180px;
}

img {
    height: 400px;
    width: 500px;
    border-radius: 20%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.442);
    border: black solid rgb(0, 0, 0, 0);
}


@media screen and (max-width: 600px) {
    .buttons {
        position: absolute;
        display: flex;
        justify-content: space-between
    }

    img {
        height: 300px;
        width: 800px;
    }
}


@media only screen
    and (device-width: 390px)
    and (device-height: 844px)
    and (-webkit-device-pixel-ratio: 3) {

        .buttons {
            position: absolute;
            display: flex;
            justify-content: space-between
        }

        img {
            height: 280px;
            width: 100%;
        }
    }
