

/* ------------------------------------------ */

/* body {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic {
    height: 100px;
}

.pic2 {
    height: 600px;
    width: 600px;
    z-index:999;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease;
}

.col-md-4 {
    max-width: 600px;
    max-height: 600px;
}

.pic:hover {
    transform: scale(5);
}

.wrapper {
    perspective: 1000px;
  }

  .col-md-4 img,
  .col-md-6 img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    transform: translateZ(50px);
    transition: transform 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  .col-md-4 img:hover,
  .col-md-6 img:hover {
    transform: translateZ(100px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    transform: scale(2);

} */

.carousel-container {
    position: relative;
    width:50%;
    height: 100%;
    overflow: hidden;
    background-color: red;
  }

  .carousel-slide {
    display: flex;
    height: 350px;
    width: calc(100% * 5);
    transition: transform 0.5s ease-in-out;
    background-color: blue;
  }

  .carousel-card {
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
  }

  .carousel-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .carousel-controls {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
  }

  .carousel-controls button {
    margin: 3px 10px;
  }
