

<!-- <header>
    <div class="container">
        <div class="row">
                <div class="col-sm-5; p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li>
                        <a href="/about" [routerLink]="['/']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact: true}">About</a>
                    </li>
                    <li>
                        <a href="/portfolio" [routerLink]="['/portfolio']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact: true}">Portfolio</a>
                    </li>
                    <li>
                        <a href="/experience" [routerLink]="['/experience']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact: true}">Experience</a>
                    </li>
                    <li>
                        <a href="/contact" [routerLink]="['/contact']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact: true}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header> -->

<header>
    <div class="container">
      <div class="row">
        <div class="col-sm-5 p-flex p-flex-align-center p-flex-jc-sb">
          <mat-toolbar>
            <button mat-button routerLink="/about" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">About</button>
            <button mat-button routerLink="/portfolio" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Portfolio</button>
            <button mat-button routerLink="/experience" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Experience</button>
            <button mat-button routerLink="/contact" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Contact</button>
            <button mat-icon-button (click)="toggleDropdown()" class="dropdown-button" aria-label="menu">
              <mat-icon>menu</mat-icon>
            </button>
          </mat-toolbar>
          <mat-menu #dropdown="matMenu" class="dropdown-menu">
            <button mat-menu-item routerLink="/about" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">About</button>
            <button mat-menu-item routerLink="/portfolio" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Portfolio</button>
            <button mat-menu-item routerLink="/experience" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Experience</button>
            <button mat-menu-item routerLink="/contact" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Contact</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </header>
