

<header>
    <div class="container">
        <div class="row">
                <div class="col-sm-5; p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li>
                        <a href="a" [routerLink]="['/']" [routerLinkActive]="['is-active']">Home</a>
                    </li>
                    <li>
                        <a href="a">About</a>
                    </li>
                    <li>
                        <a href="a">Portfolio</a>
                    </li>
                    <li>
                        <a href="a">Experience</a>
                    </li>
                    <li>
                        <a href="a">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
