

<header>
    <div class="container">
        <div class="row">
                <div class="col-sm-5; p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li>
                        <a href="/about" [routerLink]="['/']" [routerLinkActive]="['is-active']">About</a>
                    </li>
                    <li>
                        <a href="/portfolio" [routerLink]="['/portfolio']" [routerLinkActive]="['is-active']">Portfolio</a>
                    </li>
                    <li>
                        <a href="/experience" [routerLink]="['/experience']" [routerLinkActive]="['is-active']">Experience</a>
                    </li>
                    <li>
                        <a href="/contact" [routerLink]="['/contact']" [routerLinkActive]="['is-active']">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
